@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

/* home screen */
.home-screen-container {
  width: 45%;
}

#main-header-title {
  font-family: 'Lobster', cursive !important;
  text-align: center;
}

#navbar-title {
  font-family: 'Lobster', cursive !important;
}

.sub-text {
  text-align: left;
}

.forms-wrapper {
    width: 25%;
    margin-top: 25px;
}

.forms-wrapper input {
    width: 100%;
}

.input_field {
  width: 100%;
  padding: 10px;
  border: solid #b2bec3 1px;
  border-radius: 2px;
}

.error {
  color: red;
}

button {
    background-color: lightgrey;
    color: #000;
    border: solid grey 1px;
    border-radius: 2px;
}

button:hover {
    background-color: grey;
}

.btn {
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  background-color: inherit;
  border: solid #00cec9 1px;
  color: #00cec9;
  font-weight: bold;
  border-radius: 2px;
}

.btn:hover {
  cursor: pointer;
  background-color: #00cec9;
  color: #fff;
  transition-duration: .5s;
}

#allergy-checkboxes {
   text-align: left !important;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.loader {
  border: 7px solid #f3f3f3; /* Light grey */
  border-top: 7px solid #00cec9;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* */
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1); /* IE */
  -moz-transform: scale(1); /* FF */
  -webkit-transform: scale(1); /* Safari and Chrome */
  -o-transform: scale(1); /* Opera */
}



/* results screen */
.back-btn {
  padding: 10px;
  margin: 5px 0;
  background-color: #00cec9;
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
}

ul li {
  list-style-type: none !important;
}

.not-allergic-message {
  color: #00b894;
}

/* media queries */
@media screen and (max-width: 780px) {
  .home-screen-container {
    width: 75%;
  }
}

@media only screen and (max-width: 600px) {
  input[type=checkbox],
  .form-check-inline
  .form-check-input {
    width: 5px !important;
  }
}

@media screen and (max-width: 500px) {
  .home-screen-container {
    width: 100%;
  }
}
