{% extends 'base.html' %}

{% block title %}Search results{% endblock %}

{% block content %}
  <div class="container">
    <br />

    <a href="/">
      <button class="btn back-btn">Back to search</button>
    </a>

    <br />
    <br />

    <!-- Results -->
    {% if food_items|length < 1 %}
      <p>Your search returned no results...</p>
    {% else %}
    <ul>
      {% for item in food_items %}
        <li>
          <div id="accordion_{{ item['id'] }}">
            <div class="card">
              <div class="card-header" id="heading_{{ item['id'] }}">
                <strong>{{ item['label'] }}</strong>

                <br />

                {% if item['allergens']|length > 0 %}
                  Contains allergens: <br />
                  {% for allergen in item['allergens'] %}
                    <span class="badge badge-info"">{{ allergen }}</span>&nbsp;
                  {% endfor %}
                {% else %}
                  <p class="not-allergic-message">This product doesn't contain anything you're allergic to!</p>
                {% endif %}

                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#{{ item['id'] }}" aria-expanded="false" aria-controls="collapseOne">
                    Details
                  </button>
                </h5>
              </div>

              <div id="{{ item['id'] }}" class="collapse" aria-labelledby="heading_{{ item['id'] }}" data-parent="#accordion">
                <div class="card-body">
                  <strong>Food contents label</strong>
                  <br />
                  {{ item['foodContentsLabel'] }}
                </div>
              </div>
            </div>
          </div>
        </li>

        <br />
      {% endfor %}
    </ul>
    {% endif %}

  </div>
{% endblock %}
